@import
url("http://fonts.googleapis.com/css?family=Amiko:300,400,700,900")
;

*{
	box-sizing: border-box;
}

body {
		padding: 0;
		margin: 0;

}

header {
    position: absolute; 
	left: 0;
	right: 0;
	margin: 1em;
}

header nav ul {
	margin-left: 0 auto;
	padding: 0;
	list-style: none;
	
}

header nav li {
	display: inline-block;
	margin: 1em;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .75rem;
	padding: .5em;
	color: #FFF;
}

header nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .75rem;
	padding: .5em;
	color: #FFF;
}
.logo {
	float: left;
}
header nav {
	float: right;

}
header img {

	width: 30%;

}

	
	

	






	
	
	/*home hero
====================*/

.home-hero {
	background-image:
	url(img/ss.jpeg);
	background-size: cover;
	background-position: center;
	padding: 5em 0;
	color: #fff;
	background-attachment: fixed;
	width: 100%;
}



/* he didnot put it back in 
header nav a:hover,
header nav a:focus, {
	color:DDD;
}
*/

/*Blog
============================
*/ 

.Blog {
	text-align: center;
	/*margin-left: 100px;
	margin-right: 100px;*/
	background-color: white;

}

header {
	width: 100%;

}


h1 { font-family: Impact, Charcoal, sans-serif; font-size: 30px;
 font-style: normal; font-variant: normal; font-weight: 700;
 line-height: 26.4px; }
 
h2{
		font-family: "Courier New", Courier, monospace;
		font-size: 15px;
		font-style: normal;
		font-weight: 700;
		line-height: 13px;
		color: rgba(0, 0, 0, 0.25);
}

h3{
		font-family: "Courier New", Courier, monospace;
		font-size: 30px;
		font-style: bold;
		font-weight: 700;
		line-height: 18px;

}

h4 {
	font-family: "Courier New", Courier, monospace;
		font-size: 20px;
		font-style: bold;
		font-weight: 600;
		line-height: 0px;
}


 p { font-family: "Courier New", Courier, monospace;
		font-size: 20px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 25px; 
		color: black;
		padding: 15px;
		line-height: 35px;
		

 }

#Attribution {
	font-family: "Courier New", Courier, monospace;
		font-size: 10px;
		font-style: normal;
		font-variant: normal;
		font-weight: 0;
		line-height: 0px; 
		color: black;
		padding: 0px;
		float: right;
		right: 0px;
		margin-left: 0px;
}

#attrib {
	float: left;
	margin-right: 0px;
	margin-left: 50px;
}

 /*The ratio between width of the blog container and the width of the ad sections changes the look of the 
 article.*/



.Blog .container {
	width: 100%;

}
 

 .begin {
	 margin: 0px auto;
	 float: center;
 }
 
 img {
	 border-radius: 5px;
	 margin-top: 5px;
 }

.middle {
	 margin: 0px auto;
	 float: center;
 }
 
 .end {
	 margin: 0px auto;
	 float: center;
 }

 .AdLeft {
	 /*background-color: blue;  test*/
	 min-height: 100px;
	 height: 100%;
	 float: left;
	 width: 12.5%;
 }

 .AdRight {
	min-height: 100px;
	height: 100%;
	float: right;
	width: 12.5%;
}
  

 

 
 
 /*-----------------------------footer----------------------*/
footer nav {
	float: left;

}
footer p {
	text-align: center;
}

footer nav ul {
	
}

footer nav ul li {
	display: inline-block;
	margin-left: 200px;
	list-style: none;
}

footer nav ul li a {
	font-family: Lato; 
	font-weight: 400;
	font-size: 13px;
	color:#fff;
	text-decoration: none;


}

footer nav ul li h2 {
	font-weight: 100;
	font-size: 0.009px;
	color:#fff;
	text-decoration: none;
}
footer {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 50px 0px
}





/* ----------- Meta ----------- ---------------------------------*/


/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
/*
	.logo {
		float: center;
	}
	header nav {
		float: bottom;
	
	}
	header img {
	
		size: 25%; 
	}
	*/

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {



	header nav {
		display:block;
		margin:0 auto;
		size: 5%;
		float: bottom;
	}

		
	
	
header nav ul {
	margin-left: 0 auto;
	padding: 0;
	list-style: none;
	
}
	header nav li {
		display: inline-block;
		margin: 0em;
		font-weight: 0;
		text-decoration: none;
		text-transform: uppercase;
		font-size: .01rem;
		padding: .0em;
		color: #FFF;
	}


	.logo {
		float: center;
		display:block;margin:0 auto;
	}

	header img {
		width: 15%;
		display:block;margin:0 auto;
		float: top;
		
	}

	

	
h1 { font-size : 10px;}
	
   h2{
		   font-family: "Courier New", Courier, monospace;
		   font-size: 5px;
		   font-style: normal;
		   font-weight: 70;
		   line-height: 5px;
		   color: rgba(0, 0, 0, 0.25);
   }
   
   h3{
		   font-family: "Courier New", Courier, monospace;
		   font-size: 30px;
		   font-style: bold;
		   font-weight: 700;
		   line-height: 18px;
   
   }
   
   h4 {
	   font-family: "Courier New", Courier, monospace;
		   font-size: 20px;
		   font-style: bold;
		   font-weight: 600;
		   line-height: 0px;
   }
   
   
	p { font-family: "Courier New", Courier, monospace;
		   font-size: 7px;
		   font-style: normal;
		   font-variant: normal;
		   font-weight: 40;
		   line-height: 5px; 
		   color: black;
		   padding: 15px;
		   line-height: 15px;
		   
   
	}


	.AdLeft {
		/*background-color: blue;  test*/
		min-height: 100px;
		height: 100%;
		float: left;
		width: 2%;
	}
   
	.AdRight {
	   min-height: 100px;
	   height: 100%;
	   float: right;
	   width: 2%;
   }

   .Blog  {
	margin-left: 0.5px;
	margin-right: 0.5px;
	width: 95%;
	float: center;
}
.Blog .container {
	margin: 0 auto;
  width: 96%;
  padding: 10px;
}




  }


/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}

